/* Empty. Add your own CSS if you like */
.m_bg
{
    background-image: url('../img/bg_ensa.png');
    background-size: cover;
    padding-top :10%;
}
.m_home_title
{
    color: #1E2064; 
    font-family: 'Exo 2', sans-serif; 
    font-weight: 800; 
}
.m_home .scroll
{
    height: 70%;
    width: 100%;
    padding: 30% 10% 0% 10%;
    color: #1E2064;
}
.m_cente
{
    height: 70%;
    width: 100%;
    padding-top: 10%;
    color: #1E2064;
}
.m_col
{
    margin:  10% 5% 10% 5%;
}
.m_col a
{
    width: 100%;
    height: auto;
    padding :10% 5% 10% 5%;
}
.m_col i
{
    font-size: 200%;
}
.m_row
{
    padding: 10% 0% 10% 0%;
}
*
{
    font-family: 'Exo 2', sans-serif;
}
.m_arrow
{
    color: white;
    padding-top: 20%;
    font-size: 130%;
}
