/* Empty. Add your own CSS if you like */
.m_home
{
    background-image: url('../img/bg_ensa.png');
    background-size: cover;
}
.m_bg
{
    background-image: url('../img/bg_ensa.png');
    background-size: cover;
    padding-top :10%;
}
.m_home_title
{
    color: #1E2064;
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
}
.m_home .scroll
{
    height: 70%;
    width: 100%;
    padding-top: 30%;
    padding-right: 10%;
    padding-left: 10%;
    color: #1E2064;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;
}
.m_cente /*<img src="img/android-book.png"> */
{
    height: 70%;
    width: 100%;
    padding-top: 10%;
    color: #1E2064;
}
.m_col
{
    margin:  10% 5% 10% 5%;
}
.m_col a
{
    width: 100%;
    height: auto;
    padding :10% 5% 10% 5%;
}
.m_col i
{
    font-size: 200%;
}
.m_row
{
    padding-top:10%;
    padding-bottom: 10%;
}

http://ionicframework.com/docs/components/#header
