<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--<link href='https://fonts.googleapis.com/css?family=Exo+2:400,800' rel='stylesheet' type='text/css'>
-->
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="FormRegisterController as formR">

    <!-- Note : La classe pour les h1 est répété plusieurs fois devra etre modifié, les <br /> présente une solution sale à modifier également -->
    <ion-pane>
        <ion-header-bar class="bar-positive">
            <a href="index.html" class="m_arrow">
                <i class="icon ion-chevron-left"></i>
            </a>
            <h1 class="title">Presque ! </h1>
        </ion-header-bar>
        <ion-content>
        <div class="list list-inset">
        <form ng-click="formR.registre()" novalidate>
          <label class="item item-input">
            <input type="text" name="prenom" placeholder="Prénom" ng-model="prenom">
          </label>
          <label class="item item-input">
            <input type="text" name="nom" placeholder="Nom" ng-model="nom">
          </label>
          <label class="item item-input">
            <input type="text" name="pseudo" placeholder="Pseudonyme" ng-model="pseudo">
          </label>
          <label class="item item-input">
            <input type="password" name="password" placeholder="Mot de Passe" ng-model="password">
          </label>
          <label class="item item-input">
            <input type="password" name="password2" placeholder="Retapez votre mot de passe" ng-model="password2">
          </label>
          <label class="item item-input">
            <input type="email" name="email" placeholder="Adresse Email" ng-model="email">
          </label>
          <input type="submit" value="Let's Go" ng-click="formR.registre();" class="button button-block button-positive">
        </form>
        </div>
      </ion-content>
    </ion-pane>
  </body>
</html>
